
html,body{
	background-color: #f5f59;
	margin: 0;
	padding: 0;
	min-width: 100%;
}
div.head{
	
	width: 100%;
	color: #fff;
	font-family: Microsoft YaHei;
	border: 1px solid #28AFF2;
	background-color: #28AFF2;
	letter-spacing: 2px;
	
}
div.head span{
	margin: 0 25% 25%;
}

div.huodong{
	height: 160px;
	width: 300px;
	position: relative;
	overflow: hidden;
	/* margin: 0 auto;
	 */
}
div.huodong ul{
	list-style: none;
	position: relative;
	/* float: left; */
	width: 700px;
	/* height: 160px; */
/* 	z-index: 1; */
}
div.huodong ul li{
	float: left;
	width: 300px;
}
div.huodong ul li img{
	width: 300px;
	height: 160px;
	
	/* position: relative; */
}
div.huodong div.num {
	position: absolute;
	bottom: 0.16rem;
	right: 0.04rem;
	
	line-height: 20px;
}
div.huodong div.num span{
	display: block;
	float: left;
	cursor: pointer;
	font-size: 18px;
	height: 20px;
	padding: 0 0.03rem;
	margin: 0 2px;
	color: #F0EFC9;
}
div.huodong div.num span.active{
	background-color: #28AFF2;
	font-weight: bold;
} 
div.youhuiquan {
	width: 100%;
}
.left{
  	width: 1.2rem;
 	float: left;
 	display: block;
}
.right{
 	display: block;
 	width: 1.4rem;
 	float: right;
}
div.item{
	width: 100%;
}

div.item .tupian img{
	position: relative;
	width: 100px;
	float: left;
	display: block;
}
div.item .content{
	width: 400px;
	float: right;
}